@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*same style of light  */
:root {
  --main_background: 250, 250, 250;
  --field_color: 250, 250, 250;
  --field_hover: 230, 230, 230;
  --accent_color: 0, 0, 0;
  --accent_contrast: 250, 250, 250;
  --border_color: 111, 111, 111;
  --text_color: 0, 0, 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }

  ::-webkit-scrollbar:hover {
    width: 8px;
  }
}

::-webkit-scrollbar-track {
  background: rgba(var(--accent_contrast));
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--accent_color));
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

svg {
  fill: rgba(var(--text_color));
}

.toast_in {
  animation-name: slidein;
  animation-duration: 5s;
}

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  4% {
    transform: translateX(-15%);
  }
  6% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(0);
    scale: 1;
  }
  100% {
    scale: 0;
  }
}


.progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--accent_color));
}

.progress.active:before {
  animation: progress 4.6s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.error_animation {
  animation: input_error 0.14s 3;
}

@keyframes input_error {
  0%, 100% {
    translate: 0;
  }

  25% {
    translate: 4px 0;
  }

  75% {
    translate: -4px 0;
  }
}

/* .date-cell {
  view-transition-class: date-cell;
} */
/* 
::view-transition-group(*.date-cell) {
  animation-duration: 420ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
} */

.scroll-stable {
  scrollbar-gutter: stable;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  text-align: center;
}

input[type="radio"] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 100%;
}

input[type="radio"]:checked::after {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  border: 2px solid rgba(var(--main_background));
  background: rgba(var(--text_color));
}

.tooltip{
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.tooltip-text{
  visibility: hidden;
  position: absolute;
  padding: 6px 10px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(var(--accent_color));
  color: rgba(var(--accent_contrast));
  z-index: 1;
  bottom: 120%;
  left: 50%;
  /* center the tooltip text box*/
  transform: translate(-50%);
  /* animation */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-text::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border: 10px solid;
  border-color:  rgba(var(--accent_color)) transparent transparent transparent;
}

.tooltip:hover .tooltip-text{
  visibility: visible;
  opacity: 1;
}

.loading-text {
  opacity: 0; /* Start hidden */
  animation: showLoading 0s ease-in 1s forwards;
}

@keyframes showLoading {
  to {
    opacity: 1; /* Show text after 2 seconds */
  }
}

.input-not-placeholder:focus,
.input-not-placeholder:not(:placeholder-shown) {
  width: 100%;
  cursor: text;
}

table {
  width: 100%;
}

thead, tbody, tr, th, td {
  text-align: left;
  padding: 2px;
}